
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Personal Projects</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    
    <nav>
        <div id="wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </div>  
    </nav>
    <div id="maintext">
    <h1>Personal Projects</h1>
    
    <ul>
    <div id="github-cards">
        <div class="github-card" data-github="astatham98/KeyboardBreaker" data-width="400" data-height="278" data-theme="medium", style="display: flex; justify-content: flex-end"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test">Keyboard breaker was a project made to try and understand some OpenCV concepts better and to try and implement them in a fun project.
        I used template matching as well as colour matching in this project and even created my own neural network for letter classification to improve on pyteseract. I had an accuracy of 93.5% which could have been improved with a better designed network and more data.
        Moreover, I also gained experience in pyautogui to automate the game and defeat even the hardest difficulty with ease.
        </p>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/rahbot" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test">Rahbot started out as a simple discord bot that allowed European users to paste in their competitive profiles and recieve a role either through API use or webscraping, however, it has expanded to do much more.
            Rahbot now also includes features such as: game and statistics tracking using PostgreSQL, team balancing, leaderboards, discord role manipulation tools and setup tools to make introducing the bot to a new server as easy as possible!
        </p>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/personalWebsite" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test">
            This is my website, the place you are now! I made this to try and understand flask and how it works and to also learn some simple HTML and css. 
            While this website first started out as a just a single page it is now also a place to host some of my personal project!
        </p>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/gh-socials" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test"> 
            gh-socials or Github Socials is a Github CLI extension that is used to generate links to a github users socials. This users githubs api as well as some shell script parsing to get the email, twitter and email of any specificed github profile. 
            From this I learnt a lot about shell scripting as well as being a good introduction to Github's API.
        </p>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/ShowStatsPoster" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test"> 
            Show stats poster is a poster making program hooked up to a GUI made with PyQT5. This allows you to input any TV series that's on IMDb and create a poster with all the ratings. 
            It also allows you to choose your desired colour from a colour wheel so you can customize the posters to your liking. From this I learnt about the IMDb API as well as creating GUI's in python. 
        </p>
    </div>
    </ul>
    </div>
</body>
</html>