
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Personal Projects</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body>
    
    <nav>
        <div id="wrapper">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </div>  
    </nav>
    <div id="maintext">
    <h1>Personal Projects</h1>
    
    <ul>
    <div id="github-cards">
        <div class="github-card" data-github="astatham98/KeyboardBreaker" data-width="400" data-height="278" data-theme="medium", style="display: flex; justify-content: flex-end"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        <p id="test">Keyboard breaker was a project made to try and understand some OpenCV concepts better and to try and implement them in a fun project.
        I used template matching as well as colour matching in this project and even created my own neural network for letter classification to improve on pyteseract. I had an accuracy of 93.5% which could have been improved with a better designed network and more data.
        Moreover, I also gained experience in pyautogui to automate the game and defeat even the hardest difficulty with ease.
        </p>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/rahbot" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/personalWebsite" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/gh-socials" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>

    <div id="github-cards">
        <div class="github-card" data-github="astatham98/ShowStatsPoster" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
    </ul>
    </div>
</body>
</html>